@import url(../css/utils.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--light-color);
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Varela Round", sans-serif;
  margin: 0.7rem;
  line-height: 1.3;
}

p {
  margin: 0.5rem 0;
}

/* navbar */

.navbar {
  display: grid;
  grid-template-columns: 0.6fr 5fr 2fr;
  gap: 3rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 4;
}

.navbar .main-nav ul {
  display: flex;
  justify-content: flex-start;
}

.navbar a {
  padding: 0.6rem;
  font-weight: bold;
  cursor: pointer;
}

.navbar a:hover {
  border-bottom: 2px solid var(--dark-color);
}

.navbar .active {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
}

.navbar .head-logo {
  width: 65px;
}

.navbar .head-icons {
  justify-self: end;
  cursor: pointer;
}
.navbar .head-icons :hover {
  opacity: 0.7;
}

.navbar i {
  padding: 0 0.3rem;
}

/* header */

.header {
  color: #fff;
  background-color: #333;
  padding: 2rem;
  position: relative;
}

#header::before {
  content: "";
  background: url("../img/rowing.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.header .header-conteiner {
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}
.header .header-conteiner .header-content {
  z-index: 1;
}


/* articles */
.Grid-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.articles .card-img {
  padding: 0rem;
}
.articles {
  margin-top: 3rem;
}
/* footer */

.main-footer {
  background-color: var(--dark-color);
  color: #fff;
}
.main-footer img {
  width: 150px;
}

.main-footer a {
  color: #fff;
}

.main-footer .footer-conteiner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.3rem;
}

.main-footer .footer-conteiner > *:last-child{
 background-color: #555;
 grid-column: 1/ span 4;
 padding: 0.5rem;
 text-align: center;
}


.main-footer .footer-conteiner input[type="email"] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.main-footer .footer-conteiner input[type="submit"] {
  width: 90%;
}
.main-footer .footer-conteiner ul li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #555;
  width: 90%;
}

.main-footer .footer-conteiner ul li a:hover {
  color: var(--primary-color);
}

/* page-articles */

#article .page-conteiner{display: grid;
grid-template-columns: 5fr 2fr;
margin: 2.5rem;
gap: 1.5rem;
}

#article .page-conteiner > *:first-child{
  grid-row: 1/ span 3;
}

#article .meta{display: flex;
 justify-content: space-between;
padding: 1rem;
background-color: var(--secondary-color);
align-items: center;}

.page-conteiner #categories ul li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #555;
  width: 90%;
}
.page-conteiner #categories ul li a:hover {
 color: var(--primary-color);
}